<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
</head>
<body>

<h1>Countries</h1>
<table width="100%">
    <tr style="background-color:navy;color:white;font-weight:bold">
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Area</th>
        <th>Flag</th>
    </tr>

    {% for country in countries %}
    <tr>
        <td>{{country.name}}</td>
        <td>{{country.capital}}</td>
        <td style="text-align:right">{{country.population}}</td>
        <td style="text-align:right">{{country.area}}</td>
        <td style="text-align:center">
            <img src="{{country.flag}}" style="width:200px;height:100px" />
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>